aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
colorama
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gradio_client==2.3.0
gpytranslate
gtts
heroku3
httpx[http2]==0.27.2
indic-transliteration
kurigram==2.2.19
motor
nekosbest
ntgcalls==2.1.0
numpy
opencv-python
pillow==9.5.0
psutil
py-tgcalls==2.2.11
py-yt-search
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
randomcolor
requests
SpeechRecognition
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp==2025.10.14
youtube-search-python==1.6.6
